<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>About</title>
</head>
<body>
    <h2>Titre de la section About</h2>
    <p>Mon nom est ALine Rambier</p>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Reprehenderit vel minus impedit consequatur, est accusamus provident a nihil veritatis voluptatibus quae, aut at, illum natus sint. Mollitia accusantium cupiditate aliquid?</p>
    
</body>
</html>